body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: white; 
}

.App{
  width: 40%;
  margin: auto;
  text-align: center;
}

.button{
  font-family: 'Times New Roman';
  background-color: darkcyan;
  font-size: 20px;
  font-weight: bold;
}

